<section class="users uk-flex uk-flex-space-between uk-flex-middle">
  <div class="userBlock zach uk-border-rounded">
    <div class="userImageBlock">
      <div class="zachProfile userImage uk-border-circle uk-align-center"></div>
    </div>
    <div class="userInfoBlock">
      <h2 class="uk-margin-remove">Zach Schnackel</h2>
      <h4 class="uk-margin-remove">Mr. White</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur dicta, nam earum fugiat illum quas ab quibusdam.
      </p>
    </div>
    <div class="userSocialBlock borderBottomRounded uk-grid">
      <div class="userSocial uk-width-1-3 uk-height-1-1 uk-vertical-align uk-padding-remove">
        <img class="uk-vertical-align-middle" src="assets/icons/facebook.svg" alt="Facebook logo">
      </div>
      <div class="userSocial uk-width-1-3 uk-height-1-1 uk-vertical-align uk-padding-remove">
        <img class="uk-vertical-align-middle" src="assets/icons/twitter.svg" alt="Twitter logo">
      </div>
      <div class="userSocial uk-width-1-3 uk-height-1-1 uk-vertical-align uk-padding-remove">
        <img class="uk-vertical-align-middle" src="assets/icons/github.svg" alt="Github logo">
      </div>
    </div>
  </div>
  <div class="userBlock sean uk-border-rounded">
    <div class="userImageBlock">
      <div class="seanProfile userImage uk-border-circle uk-align-center"></div>
    </div>
    <div class="userInfoBlock">
      <h2 class="uk-margin-remove">Sean McCambridge</h2>
      <h4 class="uk-margin-remove">Mr. Pink</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis inventore odio asperiores, labore porro repellendus.
      </p>
    </div>
    <div class="userSocialBlock borderBottomRounded uk-grid">
      <div class="userSocial uk-width-1-3 uk-height-1-1 uk-vertical-align uk-padding-remove">
        <img class="uk-vertical-align-middle" src="assets/icons/facebook.svg" alt="Facebook logo">
      </div>
      <div class="userSocial uk-width-1-3 uk-height-1-1 uk-vertical-align uk-padding-remove">
        <img class="uk-vertical-align-middle" src="assets/icons/twitter.svg" alt="Twitter logo">
      </div>
      <div class="userSocial uk-width-1-3 uk-height-1-1 uk-vertical-align uk-padding-remove">
        <img class="uk-vertical-align-middle" src="assets/icons/github.svg" alt="Github logo">
      </div>
    </div>
  </div>
  <div class="userBlock craig uk-border-rounded">
    <div class="userImageBlock">
      <div class="craigProfile userImage uk-border-circle uk-align-center"></div>
    </div>
    <div class="userInfoBlock">
      <h2 class="uk-margin-remove">Craig Anthony</h2>
      <h4 class="uk-margin-remove">Mr. Blue</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni similique iusto temporibus pariatur voluptatem.
      </p>
    </div>
    <div class="userSocialBlock borderBottomRounded uk-grid">
      <div class="userSocial uk-width-1-3 uk-height-1-1 uk-vertical-align">
        <img class="uk-vertical-align-middle" src="assets/icons/facebook.svg" alt="Facebook logo">
      </div>
      <div class="userSocial uk-width-1-3 uk-height-1-1 uk-vertical-align">
        <img class="uk-vertical-align-middle" src="assets/icons/twitter.svg" alt="Twitter logo">
      </div>
      <div class="userSocial uk-width-1-3 uk-height-1-1 uk-vertical-align">
        <img class="uk-vertical-align-middle" src="assets/icons/github.svg" alt="Github logo">
      </div>
    </div>
  </div>
</section>
