<section class="weather uk-border-rounded uk-grid">
  <div class="weatherBlock weatherBlock1 borderBottomLeftRounded borderTopLeftRounded uk-width-large-1-5 uk-height-1-1 uk-vertical-align uk-text-center">
    <img class="uk-vertical-align-middle" src="assets/icons/sun.svg" alt="Sun icon">
  </div>
  <div class="weatherBlock weatherBlock2 uk-width-large-1-5 uk-height-1-1 uk-flex uk-flex-column uk-flex-center uk-flex-left">
    <div class="weatherTemperature">75°</div>
    <div class="weatherStatus">CLEAR</div>
  </div>
  <div class="weatherBlock weatherBlock3 uk-width-large-1-5 uk-height-1-1 uk-flex uk-flex-column uk-flex-center uk-flex-middle">
    <div class="forecastBlock uk-text-center">
      <div class="forecastTime uk-flex uk-flex-middle uk-flex-center">
        8AM
      </div>
      <div class="forecastIcon">
        <img src="assets/icons/rainy.svg" alt="Raincloud icon">
      </div>
      <div class="forecastPercentage uk-flex uk-flex-middle uk-flex-center">
        20%
      </div>
      <div class="forecastTemperature uk-flex uk-flex-middle uk-flex-center">
        67°
      </div>
    </div>
  </div>
  <div class="weatherBlock weatherBlock4 uk-width-large-1-5 uk-height-1-1 uk-flex uk-flex-column uk-flex-center uk-flex-middle">
    <div class="forecastBlock uk-text-center">
      <div class="forecastTime uk-flex uk-flex-middle uk-flex-center">
        1PM
      </div>
      <div class="forecastIcon">
        <img src="assets/icons/rainy.svg" alt="Raincloud icon">
      </div>
      <div class="forecastPercentage uk-flex uk-flex-middle uk-flex-center">
        10%
      </div>
      <div class="forecastTemperature uk-flex uk-flex-middle uk-flex-center">
        70°
      </div>
    </div>
  </div>
  <div class="weatherBlock weatherBlock5 borderBottomRightRounded borderTopRightRounded uk-width-large-1-5 uk-height-1-1 uk-flex uk-flex-column uk-flex-center uk-flex-middle">
    <div class="forecastBlock uk-text-center">
      <div class="forecastTime uk-flex uk-flex-middle uk-flex-center">
        3PM
      </div>
      <div class="forecastIcon">
        <img src="assets/icons/cloudy.svg" alt="Cloud icon">
      </div>
      <div class="forecastPercentage uk-flex uk-flex-middle uk-flex-center">
        5%
      </div>
      <div class="forecastTemperature uk-flex uk-flex-middle uk-flex-center">
        74°
      </div>
    </div>
  </div>
</section>
