<nav class="uk-navbar uk-grid">
  <ul class="uk-navbar-nav uk-height-1-1 uk-width-large-1-4 uk-grid">
    <li id="sideMenuToggle" class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1 uk-width-large-2-10 uk-padding-remove">
      <i class="uk-icon-bars uk-align-center"></i>
    </li>
    <li class="uk-flex uk-flex-left uk-flex-middle uk-height-1-1 uk-width-large-8-10">
      boomtest
    </li>
  </ul>
  <ul class="uk-navbar-nav uk-text-large uk-height-1-1 uk-width-large-3-4 uk-grid">
    <li class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1 uk-width-1-3">
      <i class="uk-icon-calendar"></i>
    </li>
    <li class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1 uk-width-1-3">
      <i class="uk-icon-tasks"></i>
    </li>
    <li class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1 uk-width-1-3">
      <i class="uk-icon-cog"></i>
    </li>
  </ul>
</nav>
