<section class="tasks asidePadding uk-border-rounded">
  <header class="tasks">
    <h2>My Tasks</h2>
  </header>
  <main class="tasks">
    <div class="taskBlock uk-flex uk-flex-middle">
      <div class="task update uk-width-1-1">
        <div class="taskText uk-flex uk-flex-space-between uk-flex-middle">
          <div class="taskTextName">
            Update build dependencies
          </div>
          <div class="taskTextPercentage">
            50%
          </div>
        </div>
        <div class="taskBar">
          <div class="taskBarProgress"></div>
        </div>
      </div>
    </div>
    <div class="taskBlock uk-flex uk-flex-middle">
      <div class="task build uk-width-1-1">
        <div class="taskText uk-flex uk-flex-space-between uk-flex-middle">
          <div class="taskTextName">
            Build page layouts
          </div>
          <div class="taskTextPercentage">
            75%
          </div>
        </div>
        <div class="taskBar">
          <div class="taskBarProgress"></div>
        </div>
      </div>
    </div>
    <div class="taskBlock uk-flex uk-flex-middle">
      <div class="task convert uk-width-1-1">
        <div class="taskText uk-flex uk-flex-space-between uk-flex-middle">
          <div class="taskTextName">
            Convert icons to svg
          </div>
          <div class="taskTextPercentage">
            25%
          </div>
        </div>
        <div class="taskBar">
          <div class="taskBarProgress"></div>
        </div>
      </div>
    </div>
    <div class="taskBlock uk-flex uk-flex-middle">
      <div class="task compress uk-width-1-1">
        <div class="taskText uk-flex uk-flex-space-between uk-flex-middle">
          <div class="taskTextName">
            Compress image assets
          </div>
          <div class="taskTextPercentage">
            100%
          </div>
        </div>
        <div class="taskBar">
          <div class="taskBarProgress"></div>
        </div>
      </div>
    </div>
  </main>
</section>
