<section class="activities uk-border-rounded">
  <header class="activities asidePadding uk-flex uk-flex-bottom uk-flex-space-between">
    <h2 class="uk-margin-remove">Latest Activities</h2>
    <span class="smallGray">4/14</span>
  </header>
  <main class="activities">
    <div class="activityBlock asidePadding uk-flex uk-flex-middle">
      <div class="activity uk-flex">
        <div class="activityIcon uk-flex uk-flex-center uk-flex-middle">
          <img src="assets/icons/email.svg" alt="Email icon">
        </div>
        <div class="activityEvent email">
          <div class="activityEventName">
            NEW EMAIL
          </div>
          <div class="activityEventDetails">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
        <div class="activityTime uk-text-right">
            <span class="smallGray">10m</span>
        </div>
      </div>
    </div>
    <div class="activityBlock asidePadding uk-flex uk-flex-middle">
      <div class="activity uk-flex">
        <div class="activityIcon uk-flex uk-flex-center uk-flex-middle">
          <img src="assets/icons/sms.svg" alt="SMS icon">
        </div>
        <div class="activityEvent sms">
          <div class="activityEventName">
            NEW TEXT
          </div>
          <div class="activityEventDetails">
            Lorem ipsum dolor.
          </div>
        </div>
        <div class="activityTime uk-text-right">
            <span class="smallGray">1h</span>
        </div>
      </div>
    </div>
    <div class="activityBlock asidePadding uk-flex uk-flex-middle">
      <div class="activity uk-flex">
        <div class="activityIcon uk-flex uk-flex-center uk-flex-middle">
          <img src="assets/icons/phone.svg" alt="Phone icon">
        </div>
        <div class="activityEvent phone">
          <div class="activityEventName">
            NEW CALL
          </div>
          <div class="activityEventDetails">
              Quam, rerum blanditiis ex repellendus provident minima.
          </div>
        </div>
        <div class="activityTime uk-text-right">
            <span class="smallGray">8h</span>
        </div>
      </div>
    </div>
    <div class="activityBlock asidePadding uk-flex uk-flex-middle">
      <div class="activity uk-flex">
        <div class="activityIcon uk-flex uk-flex-center uk-flex-middle">
          <img src="assets/icons/users.svg" alt="Users icon">
        </div>
        <div class="activityEvent meeting">
          <div class="activityEventName">
            MEETING SCHEDULED
          </div>
          <div class="activityEventDetails">
            On 10/12/2015 09:00 am
          </div>
        </div>
        <div class="activityTime uk-text-right">
            <span class="smallGray">8h</span>
        </div>
      </div>
    </div>
    <div class="activityBlock asidePadding uk-flex uk-flex-middle">
      <div class="activity viewMore asidePadding uk-border-rounded uk-flex-middle uk-flex uk-flex-space-between">
        <div class="viewMoreText">
          view all activities
        </div>
        <div class="viewMoreNumber uk-border-rounded">
          14
        </div>
      </div>
    </div>
  </main>
</section>
