<section class="settings asidePadding uk-border-rounded">
  <header class="settings">
    <h2 class="uk-margin-remove">My Settings</h2>
  </header>
  <main class="settings">
    <div class="settingsBlock settingsBlock1">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td class="settings1Text">
            Show my social feed
          </td>
          <td class="settings1Toggle uk-text-right">
            <div class="slideCheckboxBlock">
              <input type="checkbox" value="None" id="slideCheckbox1" class="slideCheckbox" name="check" checked />
              <label for="slideCheckbox1"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="settings1Text">
            Turn on incognito mode
          </td>
          <td class="settings1Toggle uk-text-right">
            <div class="slideCheckboxBlock">
              <input type="checkbox" value="None" id="slideCheckbox2" class="slideCheckbox" name="check"/>
              <label for="slideCheckbox2"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="settings1Text">
            Receive automated alerts
          </td>
          <td class="settings1Toggle uk-text-right">
            <div class="slideCheckboxBlock">
              <input type="checkbox" value="None" id="slideCheckbox3" class="slideCheckbox" name="check"/>
              <label for="slideCheckbox3"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="settings1Text">
            Turn on location settings
          </td>
          <td class="settings1Toggle uk-text-right">
            <div class="slideCheckboxBlock">
              <input type="checkbox" value="None" id="slideCheckbox4" class="slideCheckbox" name="check" checked />
              <label for="slideCheckbox4"></label>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="settingsBlock settingsBlock2">
      <div class="settings2Text">
        <div>
          My favorite colors (check all that apply)
        </div>
      </div>
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <div class="customCheckboxBlock">
              <input type="checkbox" id="customCheckbox1" class="customCheckbox" checked />
              <label for="customCheckbox1">red</label>
            </div>
          </td>
          <td>
            <div class="customCheckboxBlock">
              <input type="checkbox" id="customCheckbox2" class="customCheckbox" />
              <label for="customCheckbox2">green</label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="customCheckboxBlock">
              <input type="checkbox" id="customCheckbox3" class="customCheckbox" />
              <label for="customCheckbox3">blue</label>
            </div>
          </td>
          <td>
            <div class="customCheckboxBlock">
              <input type="checkbox" id="customCheckbox4" class="customCheckbox" checked />
              <label for="customCheckbox4">orange</label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="customCheckboxBlock">
              <input type="checkbox" id="customCheckbox5" class="customCheckbox" />
              <label for="customCheckbox5">yellow</label>
            </div>
          </td>
          <td>
            <div class="customCheckboxBlock">
              <input type="checkbox" id="customCheckbox6" class="customCheckbox" checked />
              <label for="customCheckbox6">pink</label>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="settingsBlock settingsBlock3">
      <div class="settings3Text">
        <div>
          Do you like Miley Cyrus?
        </div>
      </div>
      <table cellspacing"0" cellpadding="0">
        <tr>
          <td>
            <input type="radio" name="radio" id="radio1" class="radio"/>
            <label for="radio1">Yes</label>
          </td>
          <td>
            <input type="radio" name="radio" id="radio2" class="radio" checked/>
            <label for="radio2">No</label>
          </td>
        </tr>
      </table>
    </div>
  </main>
</section>
