<section class="chat uk-border-rounded">
  <header class="chat uk-flex uk-flex-middle uk-flex-space-between">
    <h2 class="uk-margin-remove">Team Chat Messages</h2>
    <div class="uk-flex uk-flex-middle uk-flex-space-around uk-border-rounded">
      <img src="assets/icons/chat-email.svg" alt="Envelope icon">
      <span>view all messages</span>
    </div>
  </header>
  <main class="chat uk-grid">
    <div class="chatMessagesBlock uk-width-large-3-5">
      <div class="chatMessageIncoming uk-grid">
        <div class="incomingImage uk-width-large-2-10">
          <div class="zachProfile userImage uk-border-circle uk-align-center"></div>
        </div>
        <div class="incomingMessage uk-width-large-7-10 uk-flex uk-flex-middle">
          <p class="uk-border-rounded">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, ipsa, blanditiis? Eius enim, laboriosam.
          </p>
        </div>
      </div>
      <div class="chatMessageOutgoing uk-margin-remove uk-grid">
        <div class="outgoingMessage uk-float-right uk-width-large-8-10">
          <p class="uk-border-rounded">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, non voluptates voluptatem? Totam sapiente deleniti nostrum, quidem ab mollitia excepturi placeat.
          </p>
        </div>
        <div class="outgoingImage uk-width-large-2-10 uk-float-right uk-flex uk-flex-middle">
          <div class="seanProfile userImage uk-border-circle uk-align-center"></div>
        </div>
      </div>
      <div class="chatMessageIncoming uk-margin-remove uk-grid">
        <div class="incomingImage uk-width-large-2-10">
          <div class="zachProfile userImage uk-border-circle uk-align-center"></div>
        </div>
        <div class="incomingMessage uk-width-large-7-10 uk-flex uk-flex-middle">
          <p class="uk-border-rounded">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto deserunt doloremque excepturi eveniet.
          </p>
        </div>
      </div>
    </div>
    <div class="chatFormBlock uk-width-large-2-5">
      <form>
        <textarea class="uk-border-rounded" placeholder="compose message"></textarea>
        <input class="uk-border-rounded" type="submit" value="send message"></input>
      </form>
    </div>
  </main>
</section>
