/****************************
### ASIDE
****************************/

/****************************
### MIXINS
****************************/

.taskConstructor(@color, @width) {
  .taskText {
    .taskTextPercentage {
      background-color: @color;
    }
  }
  .taskBar {
    .taskBarProgress {
      width: @width;
      background-color: @color;
    }
  }
}

/****************************
### STYLING
****************************/

aside {

  .asideSectionStyling {
    background-color: white;
    .marginBottom;
    .boxShadow(2);
  }

  .asidePadding {
    padding: 7.5px 12.5px;
  }

  .smallGray {
    font-size: 0.85rem;
    color: @gray;
  }

  /***********
  ACTIVITIES
  ***********/

  @import 'aside-activities.less';

  /***********
  SETTINGS
  ***********/

  @import 'aside-settings.less';

  /***********
  TASKS
  ***********/

  @import 'aside-tasks.less';

}
