/****************************
### NAVBAR
****************************/

nav.uk-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: @light-blue;
  border-radius: 0;
  color: white;
  z-index: 100;
  .boxShadow(1);

  ul:first-of-type {
    li:first-of-type {
      cursor: pointer;
      font-size: 2rem;
      .transitionFast;

      &.internetExplorer {
        -webkit-box-pack: start;-webkit-justify-content: flex-start;-ms-flex-pack: start;justify-content: flex-start;
      }

      &:hover {
        background-color: @blue;
      }

      i {
        .transitionFast;
      }
    }

    li:nth-of-type(2) {
      font-size: 1.75rem;
      padding-left: 5px;
      font-weight: lighter;
    }
  }

  > ul:last-of-type {
    display: none;

    li {
      cursor: pointer;
      .transitionFast;

      &:hover {
        background-color: @blue;
      }

      i {
        &:first-of-type {
          display: block;
        }
        &:last-of-type {
          display: none;
        }
      }

      &.thisAsideOpen {
        background-color: @blue;

        i {
          &:first-of-type {
            display: none;
          }
          &:last-of-type {
            display: block;
          }
        }
      }
    }
  }
}
